.band-update-success-action {
    display: flex;
    color: black;
}

.band-update-success-action > button {
    background-color: rgb(175, 224, 247);
    color: rgb(51, 49, 49);
    padding-bottom: 6px;
    width: 3em;
    border-width: 1px;
    font-weight: 700;
}

.band-update-success-action > button:hover {
    scale: 110%;
    background-color: rgb(127, 209, 247);
    color: rgb(0, 0, 0);
}

.band-update-success-msg {
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 2em;
    padding-right: 2em;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#snackContainer {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border-radius: 3%;
    background-color: rgb(92, 194, 241);
}
