<mat-dialog-content>
    <ng-container *ngIf="!loading(); else suspenseTemplate;">
        <form [formGroup]="bandUpdateForm" (submit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Nombre de banda</mat-label>
                <input matInput formControlName="name" placeholder="Nombre de banda">
                @if (bandUpdateForm.controls.name.invalid) {
                <mat-hint>Asigne nombre de banda con mínimo 4 letras</mat-hint>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Género musical</mat-label>
                <mat-select matNativeControl [formControl]="bandUpdateForm.controls.musicalGenre" required [value]="bandUpdateForm.controls.musicalGenre.value"
                    (selectionChange)="onMusicalGenreSelection($event)">
                    @for (genre of getMusicalGenres(); track genre) {
                    <mat-option [value]="genre">
                        {{translateGenreToESString(genre)}}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Director</mat-label>
                <input #filterInput type="text" formControlName="director" [matAutocomplete]="auto"
                    (focus)="onFilterUsersInputFocus()" placeholder="Director (nombre usuario)" (input)="filterUsers()"
                    matInput />
                <mat-autocomplete requireSelection #auto="matAutocomplete" id="userAutocomplete">
                    @for (user of filteredUsers(); track user.userId) {
                    <mat-option [value]="user.nickname" class="user-option" [matTooltip]="user.nickname">
                        <strong>{{user.nickname}}</strong>
                        <small class="user-fullname">{{user.firstname}} {{user.lastname}}</small>
                    </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <button type="submit" mat-flat-button>Actualizar</button>
        </form>
    </ng-container>

    <ng-template #suspenseTemplate>
        <app-form-suspense text="Procesando banda, espere..."></app-form-suspense>
    </ng-template>
</mat-dialog-content>