<div id="homeMenu">
  <button mat-icon-button ngClass="mat-icon-button" [matMenuTriggerFor]="menu"
    aria-label="Home icon-button with a menu">
    <mat-icon id="menuIcon">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (getToken().length>0) {
      <button
        [matTooltip]="'Dashboard de '.concat(getLoggedInUsername())" 
        mat-menu-item
      >
        <a routerLink="/dashboard" class="link">
          <mat-icon>person</mat-icon>
          <span>{{getLoggedInUsername()}}</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/calendario?token=" class="link">
          <mat-icon>calendar_today</mat-icon>
          <span>Calendario</span>
        </a>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    }
    @else {
      <button mat-menu-item>
        <a
          [routerLink]="'/calendario?token='.concat(encodeURIParamValue(getToken()))" 
          class="link"
          [queryParams]="{ token: decodeURIParamValue(getToken()) }"
          [queryParamsHandling]="'merge'"
        >
          <mat-icon>calendar_today</mat-icon>
          <span>Calendario</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/registro" class="link">
          <mat-icon>add_person</mat-icon>
          <span>Registrarse</span>
        </a>
      </button>
    }
    
  </mat-menu>
  <span>Bandlogs::Home</span>
</div>
<mat-card ngClass="home-card" appearance="outlined">
  <mat-card-header ngClass="home-card-header">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title ngClass="card-title">Bandlogs Manager</mat-card-title>
    <mat-card-subtitle ngClass="card-subtitle">
      por: 
      <span id="author">Brando Elí Carrillo Pérez</span> 
      (artista/desarrollador software)
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image width="328" height="320" src="https://storage.cloud.google.com/brando-projects-assets/bandlogs-manager/logo.png"
    alt="Image of app logo">
  <mat-card-content>
    <p>
      <strong>¡Bienvenido a Bandlogs Manager!</strong> La aplicación web diseñada para facilitar la gestión de bandas musicales y sus actividades.
      <br><br>
      <strong>Características principales:</strong>
    </p>
    <ul>
      <li>Gestión de agenda musical</li>
      <li>Agregación de músicos invitados a tus bandas</li>
      <li>Agenda de ensayos y conciertos</li>
      <li>Interfaz intuitiva y fácil de usar</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="/registro" mat-button>REGISTRARSE</button>
  </mat-card-actions>
</mat-card>