<ng-container *ngIf="!loading(); else suspenseTemplate">
    <div id="head">
        <h5>Registro de usuario </h5>
        <mat-icon>person_add</mat-icon>
    </div>
    <form [formGroup]="userRegistrationForm" id="registerForm" (submit)="onSubmit($event)">
        <fieldset>
            <legend>Información personal</legend>
            <div class="form-field-container">
                <mat-form-field appearance="fill">
                    <mat-label>apellidos</mat-label>
                    <input
                        inputmode="latin"
                        type="text"
                        formControlName="lastname"
                        class="mat-input"
                        matInput
                    />
                    @if (userRegistrationForm.controls.lastname.invalid) {
                    <mat-error>debe ser compuesto solamente por letras tanto mayúsculas como minúsculas</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="form-field-container">
                <mat-form-field appearance="fill">
                    <mat-label>nombre(s)</mat-label>
                    <input
                        inputmode="latin-name"
                        type="text"
                        formControlName="firstname"
                        class="mat-input"
                        matInput
                    />
                    @if (userRegistrationForm.controls.firstname.invalid) {
                    <mat-error>debe ser compuesto solamente por letras tanto mayúsculas como minúsculas</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="form-field-container">
                <mat-form-field appearance="fill" id="countryCodeField">
                    <mat-select formControlName="countryCode" [(value)]="userRegistrationForm.value.countryCode">
                        @for (item of getCountryCodes(); track $index) {
                        <mat-option value={{item}}>{{item}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" id="phoneNumberField">
                    <mat-label>tel. móvil</mat-label>
                    <input
                        inputmode="tel"
                        type="tel"
                        formControlName="phoneNumber"
                        class="mat-input"
                        matInput
                    />
                    @if (userRegistrationForm.controls.phoneNumber.invalid) {
                    <mat-error>campo obligatorio, de 9 a 15 dígitos</mat-error>
                    }
                </mat-form-field>
            </div>
        </fieldset>
        <fieldset id="userInfo">
            <legend>Información de usuario</legend>
            <div class="form-field-container">
                <mat-form-field appearance="fill">
                    <mat-label>nombre de usuario</mat-label>
                    <input
                        inputmode="latin"
                        type="text"
                        formControlName="nickname"
                        class="mat-input"
                        matInput
                        placeholder="usuario (tu apodo)"
                    />
                    @if (userRegistrationForm.controls.nickname.invalid) {
                    <mat-error>campo obligatorio, debe ser de al menos 4 caracteres y máximo 30</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="form-field-container">
                <mat-form-field appearance="fill" id="passwordField">
                    <mat-label>Contraseña</mat-label>
                    <input
                        class="mat-input"
                        [type]="hide() ? 'password' : 'text'"
                        formControlName="password"
                        matInput
                    />
                    <button mat-icon-button matSuffix (click)="toggleHidePassword($event)"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (userRegistrationForm.controls.password.invalid) {
                    <mat-error>La contraseña no contiene al menos 2 mayúsculas, 2 minúsculas, 2 números y 2 caracteres
                        especiales</mat-error>
                    }
                </mat-form-field>
            </div>
        </fieldset>
        <button type="submit" mat-flat-button id="submit" [disabled]="userRegistrationForm.invalid">Hecho</button>
    </form>
</ng-container>
<!-- Loading bands state template when loading signal value changes  -->
<ng-template #suspenseTemplate id="suspense">
    <app-form-suspense text="Guardando usuario..."></app-form-suspense>
</ng-template>
