<mat-list role="list" id="listA">
    <mat-list-item role="listitem">
        <button
            class="menu-item-btn"
            (click)="onMenuButtonClick('consultar')"
            mat-flat-button
        >
            <mat-icon>search</mat-icon> Consultar
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button
            class="menu-item-btn"
            (click)="onMenuButtonClick('listar')"
            mat-flat-button
        >
            <mat-icon>list_items</mat-icon> Listar
        </button>
    </mat-list-item>
    @if (section()==='bandas') {
    <mat-list-item role="listitem">
        <button
            class="menu-item-btn"
            (click)="onMenuButtonClick('estadísticas')"
            mat-flat-button
        >
            <mat-icon>trending_up</mat-icon> Estadísticas
        </button>
    </mat-list-item>
    }
    
</mat-list>