#container {
    display: grid;
    min-height: 100%;
    overflow-y: auto;
    position: relative;
}

@media screen and (min-width: 768px) {
    #container {
        padding-left: 7em;
        padding-top: 1em;
        padding-right: 7em;
        padding-bottom: 1em;
    }
}

#container > nav {
    display: flex;
    justify-content: center;
    z-index: 20;
}

.bg-dark {
    background-color: rgb(63, 65, 59);
    color: white;
}

.bg-white {
    background-color: white;
    color: black;
}

#buttonToggle {
    position: fixed;
    bottom: .425rem;
    display: flex;
    background-color: rgb(177, 146, 61);
    width: auto;
    transition: all 0.3s ease;
}
