<div id="container" [ngClass]="getTheme()==='light' ? 'bg-white' : 'bg-dark'">
  <router-outlet />
  <nav>
    <mat-button-toggle-group name="fontStyle" id="buttonToggle" aria-label="Font Style">
      <mat-button-toggle ngClass="home" value="Inicio" (change)="navigateToPath('')" [checked]="getPath()==='/'"><mat-icon>home</mat-icon> Inicio</mat-button-toggle>
      <mat-button-toggle ngClass="theme" value="Tema" (change)="setTheme()"><mat-icon>brightness_medium</mat-icon> Fondo</mat-button-toggle>
      <mat-button-toggle value="Tutorial">Tutorial</mat-button-toggle>
      @if (!isUserAuthenticated()) {
        <mat-button-toggle value="Login" (change)="navigateToPath('/login')" [checked]="getPath()==='/login'"><mat-icon>person</mat-icon> Ingresar</mat-button-toggle>
      } @else {
        <mat-button-toggle value="Login" (change)="logout()"><mat-icon>logout</mat-icon> Cerrar sesión</mat-button-toggle>
      }
    </mat-button-toggle-group>
  </nav>
</div>