.actions {
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
}

.band-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: fit-content;
    overflow-x: auto;
}

.side-menu {
    display: flex;
    padding: 2.5em 3em 2.5em 3em;
}

.side-menu-list {
    display: flex;
    padding: 0%;
    column-gap: 3pc;
}

.side-menu-list > mat-list-item {
    padding: 0%;
}

#head {
    display: flex;
    column-gap: 5px;
}

button {
    display: flex;
    width: max-content;
}

.menu-item-icon {
    justify-self: center;
}

#editIcon {
    color: darkcyan;
}

button:hover {
    scale: 106%;
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 2.5em 3em 2.5em 3em;
    justify-content: center;
    row-gap: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-column-lastname {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-column-firstname {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-column-nickname {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-column-phoneNumber {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-column-action {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-column-date {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-column-description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-column-location {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-dark {
    color: rgb(37, 37, 37);
}

.text.light {
    color: white;
}

.user-link {
    color: lightblue;
}
