<mat-dialog-content>
    <ng-container *ngIf="deletionInProgress()===false; else suspenseTemplate;">
        <div class="band-create-form-dialog">
            <p>¿Estás seguro de eliminar la banda {{data.band.name}}?</p>
            <div class="band-create-form-dialog-buttons">
                <button id="confirm" (click)="onDeleteConfirm(data.band)" mat-fab>SI</button>
                <button id="denied" (click)="dialogRef.close()" mat-fab>NO</button>
            </div>
        </div> 
    </ng-container>
    <ng-template #suspenseTemplate>
        <app-form-suspense text="Eliminando..."></app-form-suspense>
    </ng-template>
</mat-dialog-content>
