<span>
    Bienvenido(a) {{userRoleObject.nickname}}
</span>
<div id="description">
    <h5 id="pathTitle">Dashboard de Bandlogs Manager</h5>
    <p>
        Selecciona una sección a gestionar en nuestra plataforma, de cualquiera de las siguientes:
    </p>
</div>
<mat-list role="list" id="listA">
    @if (userRoleObject.role.toString()==='ROLE_ADMIN') {
    <mat-list-item role="listitem">
        <button routerLink="/dashboard/usuarios" class="menu-item-btn" mat-flat-button>
            <mat-icon>people_outline</mat-icon> Gestión Usuario(s)
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button routerLink="/dashboard/bandas" class="menu-item-btn" mat-flat-button>
            <mat-icon>group</mat-icon> Gestión Bandas
        </button>
    </mat-list-item>
    }
    @else {
    <mat-list-item role="listitem">
        <button routerLink="/dashboard/bandas" class="menu-item-btn" mat-flat-button>
            <mat-icon>group</mat-icon> Mis Bandas
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button
            [routerLink]="['/dashboard/usuarios/usuario', {'nombre-de-usuario': userRoleObject.nickname}]"
            class="menu-item-btn" mat-flat-button
        >
            <mat-icon>person</mat-icon> Mi perfil
        </button>
    </mat-list-item>
    }
</mat-list>
