#description {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-align: justify;
    margin-top: 2.5rem;
    padding-left: 2.25em;
    padding-right: 2.25em;
}

#pathTitle {
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile-btn {
    background-color: rgb(32, 168, 161);
}

.profile-btn:hover {
    scale: 105%;
    background-color: rgb(77, 221, 214);
}

#listA {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-self: center;
    margin-top: .25in;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 3px;
    background-color: grey;
}

#listA .menu-item-btn {
    border-radius: 3px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    background-color: lightgrey;
    justify-content: center;
    width: 16rem;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#listA .menu-item-btn:hover {
    scale: 105%;
    transition: all;
    transition-duration: 0.45s;
    border-radius: 3px;
    background-color: rgb(208, 248, 235);
}

span {
    margin-left: 2.25rem;
    margin-bottom: 2rem;
}